.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.oi.md-18 { font-size: 18px; }
.oi.md-24 { font-size: 24px; }
.oi.md-36 { font-size: 36px; }
.oi.md-48 { font-size: 48px; }
.oi.md-54 { font-size: 54px; }
.oi.md-60 { font-size: 60px; }
.oi.md-120 { font-size: 120px; }
.oi.md-dark { color: rgba(0, 0, 0, 0.54); }
.oi.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.oi.md-light { color: rgba(255, 255, 255, 1); }
.oi.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
